{% extends "index.html" %}
{% block main %}
{#    <section class="page-section portfolio" id="portfolio">#}
     <div class="container">
        <a href="{% url "create_revision" %}">NUEVA REVISIÓN</a>
    </div>
    <div class="grid-container">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <td>FECHA</td>
                    <td>AERONAVE</td>
                    <td>PASAJERO</td>
					<td>EDITAR</td>
                </tr>
                {% for item in revision %}
                      <tr class="table-info">
                        <td>{{ item.fecha_registra }}</td>
                        <td>{{ item.aeronave.name }}</td>
                        <td>{{ item.pasajeros.name }}</td>
						<td><a class="button warning" href="#">Ver</a></td>
                      </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}