{% extends "index.html" %}
{% block main %}
{#    <section class="page-section pasajero" id="pasajero">#}

    <div class="container">
        <a href="{% url "create_pasajero" %}">Nuevo pasajero</a>
    </div>
    <div class="container">
         <div class="table-responsive">
             <table class="table">
                 <tr>
                    <td>NOMBRE PASAJERO</td>
                </tr>
                {% for pas in pasajero %}
                    <tr>
                        <td>{{ pas.name }}</td>
                    </tr>
                {% endfor %}
             </table>
         </div>
    </div>
{% endblock %}