{% extends "index.html" %}
{% block main %}
{#    <section class="page-section portfolio" id="portfolio">#}
    <div class="container">
        <a href="{% url "create_aeronave" %}">Nueva aeronave</a>
        <div class="table-responsive">
            <table class="table">
                {% for aero in aeronave %}
                <tr>
                    <td>NOMBRE</td>
                    <td>ORIGEN</td>
                    <td>DESTINO</td>
                </tr>
                <tr>
                    <td>{{ aero.name }}</td>
                    <td>{{ aero.nave_origen.name }}</td>
                    <td>{{ aero.nave_destino.name }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
